<div class="m-auto max-w-lg">
    <h1 class="text-3xl pt-5 pb-8 font-semibold text-center">Order Created!</h1>
    <h1 class="text-2xl pt-4 font-semibold text-center">Order Details:</h1>

    <p class="my-5">
        <strong class="block font-medium mb-1">Customer email:</strong>
        <%= @order.customer_email %>
    </p>

    <p class="my-5">
        <strong class="block font-medium mb-1">Fulfilled:</strong>
        <%= @order.fulfilled %>
    </p>

    <p class="my-5">
        <strong class="block font-medium mb-1">Total:</strong>
        <%= @order.total %>
    </p>

    <p class="my-5">
        <strong class="block font-medium mb-1">Address:</strong>
        <%= @order.address %>
    </p>

    <% if @order.order_products.any? %>
        <strong class="block font-medium mb-1">Product List:</strong>
        <% @order.order_products.each do |op| %>
        <p>Product: <%= op.product.name %></p>
        <p class="mb-5">Quantity: <%= op.quantity %></p>
        <% end %>
    <% end %>
    </div>

</div>