<%# base layout for admin pages, not the admins sign-in %>
<!DOCTYPE html>
<html>
  <head>
    <title>Fleurissant</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path('branch-leaves.png') %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="flex container px-1 max-w-full">
      <nav class="w-64 h-auto bg-base-300 sticky">
        <ul class="menu menu-lg rounded-box w-full font-semibold gap-4 mt-5">
          <li><%= link_to "Dashboard", admin_path %>
          <li><%= link_to "Products", admin_products_path %>
          </li>
          <%# <li><a>Orders</a></li> %>
        </ul>
      </nav>
      <div class="p-8 w-full">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
